<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container my-2">
        <h1>Edit Car</h1>

        <form th:action="@{|/cars/update-car/${idCar}|}" th:object="${carsForm}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{idCar}">
            <div class="mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" id="brand" th:field="*{brand}" required>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model</label>
                <input type="text" class="form-control" id="model" th:field="*{model}" required>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="text" class="form-control" id="number" th:field="*{number}" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" th:field="*{price}" required>
            </div>
              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <select class="form-control" id="state" th:field="*{state}" required>
                    <option value="AVAILABLE">Available</option>
                    <option value="UNAVAILABLE">Unavailable</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="existingPicture" class="form-label">Existing Picture</label>
                <img th:src="${carsForm.picture}" alt="Existing Car Image" style="max-height: 100px; max-width: 100px;">
            </div>
            <div class="mb-3">
                <label for="newPicture" class="form-label">New Picture</label>
                <input type="file" class="form-control" id="newPicture" name="file" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

</body>

</html>
